<h4 class="fs-6 mb-3"><?= Lang::get('ratmd.bloghub::lang.components.post.views_visitors') ?></h4>
<div
    data-control="chart-line"
    data-time-mode="weeks"
    style="height: 200px"
    data-chart-options="xaxis: {mode: 'time', timeformat: '%b, %d.'}, yaxis: {min: 0, tickDecimals: 0}">
    <span
        data-chart="dataset"
        data-set-color="#008dc9"
        data-set-data='<?= implode(', ', $statistics['views']) ?>'
        data-set-label="<?= Lang::get('ratmd.bloghub::lang.components.post.views') ?>",
        data-set-name="<?= Lang::get('ratmd.bloghub::lang.components.post.views') ?>">
    </span>
    <span
        data-chart="dataset"
        data-set-color="#ff0000"
        data-set-data='<?= implode(', ', $statistics['visitors']) ?>'
        data-set-name="<?= Lang::get('ratmd.bloghub::lang.components.post.visitors') ?>"
        data-set-label="<?= Lang::get('ratmd.bloghub::lang.components.post.visitors') ?>">
    </span>
</div>