
<div class="comment d-flex flex-row">
    <div class="comment-left flex-auto">
        <img src="{{ comment.avatar }}" alt="{{ comment.display_name }}" class="rounded" width="60" height="60" style="width:60px; height:60px;" />
    </div>

    <div class="comment-right flex-fill px-4 py-1">
        <header class="text-muted">
            <b>{{ comment.display_name }}</b>
            &nbsp;&bullet;&nbsp;
            <time class="text-muted" datetime="{{ comment.published_at }}">{{ comment.published_ago }}</time>
        </header>

        <article class="mt-2">
            {{ comment.content_html | raw }}
        </article>

        {% if not skip_footer %}
            <footer>
                <ul class="list-inline d-flex fs-6">
                    {% if currentUserCanLike %}
                        <li class="list-inline-item">
                            <a 
                                href="#" 
                                data-bloghub-handler="onLike" 
                                data-bloghub-id="{{ __SELF__.id }}"
                                data-bloghub-comment-id="{{ comment.id }}"
                                title="{{ 'ratmd.bloghub::lang.frontend.comments.like_title' | trans }}"
                            >
                                {{ 'ratmd.bloghub::lang.frontend.comments.like' | trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if currentUserCanDislike %}
                        <li class="list-inline-item">
                            <a 
                                href="#" 
                                data-bloghub-handler="onDislike" 
                                data-bloghub-id="{{ __SELF__.id }}"
                                data-bloghub-comment-id="{{ comment.id }}"
                                title="{{ 'ratmd.bloghub::lang.frontend.comments.dislike_title' | trans }}"
                            >
                                {{ 'ratmd.bloghub::lang.frontend.comments.dislike' | trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if currentUserCanFavorite %}
                        <li class="list-inline-item">
                            <a 
                                href="#" 
                                data-bloghub-handler="onFavorite" 
                                data-bloghub-id="{{ __SELF__.id }}"
                                data-bloghub-comment-id="{{ comment.id }}"
                                title="{{ 'ratmd.bloghub::lang.frontend.comments.favorite_title' | trans }}"
                            >
                                {{ 'ratmd.bloghub::lang.frontend.comments.favorite' | trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if currentUserCanComment %}
                        <li class="list-inline-item ms-auto">
                            <a 
                                href="#" 
                                data-bloghub-handler="onReply" 
                                data-bloghub-id="{{ __SELF__.id }}"
                                data-bloghub-comment-id="{{ comment.id }}"
                                title="{{ 'ratmd.bloghub::lang.frontend.comments.reply_title' | trans }}"
                            >
                                {{ 'ratmd.bloghub::lang.frontend.comments.reply' | trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </footer>
        {% endif %}
    </div>
</div>